 *.container {
    margin: 0 auto;
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 20px;
} {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body {
        font-family: "arial";
        color: black;
        background-color: lightcoral;
        font-family: arial;
        font-size: 14px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f95d5d;
    }

    li a {
        display: block;
        color: #ed9292;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: #f54242;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #f4c8c8;
        color: white;
    }

    .topnav a {
        float: left;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a {
        color: black;
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: whitesmoke;
    }

    a:active {
        color: orangered;
    }

    img {
        border-radius: 50%;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        color: black;
        text-align: center;
    }

    h2 {
        color: white;
        text-align: right;
    }

    h3 {
        text-align: left;
    }

    h4 {
        color: whitesmoke;
        text-align: left;
    }

    h5 {
        text-align: center;
    }
dt{
  color:white;
  text-align: right;
}